// CONFIG
PORT=

// API URL
API_URL=

// API KEYS
API_KEY_TOKEN=

// OAUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

// SESSION
SESSION_SECRET=

// TWITTER CONSUMER KEYS
TWITTER_CONSUMER_KEY=
TWITTER_COSUMER_SECRET=

// FACEBOOK KEYS
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=